<!-- Left side column. contains the sidebar -->
<aside th:fragment="items" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/photos/no_image_available.png"
                     th:src="${#authentication.principal.user.picture?.pictureBase64}"
                     class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${#authentication.principal.user.name}">No name given</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!-- Cliente !-->
            <li class="header">CLIENTE</li>
            <li>
                <a th:href="@{/pessoa_fisica/}">
                    <i class="fa fa-male"></i>
                    <span>Pessoa Física</span>
                </a>
            </li>
            <li>
                <a th:href="@{/pessoa_juridica/}">
                    <i class="fa fa-building"></i>
                    <span>Pessoa Jurídica</span>
                </a>
            </li>
            <!-- End Cliente !-->

            <!-- Diária !-->
            <li class="header">DIÁRIA</li>
            <li>
                <a th:href="@{/diaria_avulsa/}">
                    <i class="fa fa-calendar-plus-o"></i>
                    <span>Diária</span>
                </a>
            </li>
            <li>
                <a th:href="@{/reserva/}">
                    <i class="fa fa-calendar"></i>
                    <span>Reserva</span>
                </a>
            </li>
            <!-- End diária !-->

            <!-- Administração !-->
            <li class="header">ADMINISTRAÇÃO</li>
            <li>
                <a th:href="@{/usuario/}">
                    <i class="fa fa-users"></i>
                    <span>Usuários</span>
                </a>
            </li>
            <li>
                <a th:href="@{/quarto/}">
                    <i class="fa fa-home"></i>
                    <span>Quartos</span>
                </a>
            </li>
            <!-- End administração !-->

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
